  <footer id="site-footer" class="c-footer site-footer s-footer">
    <div class="o-container">
      <div class="o-grid">
          <div class="o-grid-12">
            <a id="60af8c8e160be" class="c-link u-margin__right--auto" target="_top" href="/" role="link" data-uid="60af8c8e160b0">
              <figure id="footer-logotype" class="c-logotype site-footer__logo ripple ripple--before" data-uid="60af8c8e15f7c">
                <img src="https://v2.styleguide.helsingborg.se/assets/img/logotype.svg" alt="Go to homepage" class="c-logotype__image">
              </figure>
            </a>
          </div>
          <div class="o-grid-12">
            Footer area
          </div>
      </div>
    </div>
  </footer>
  
  <!-- Styleguide - js -->
  <script src="https://v2.styleguide.helsingborg.se/assets/dist/js/styleguide-js.min.js"></script>

  <!-- Build - js -->
  <script src="https://v2.styleguide.helsingborg.se/assets/dist/js/buildcss.min.js" defer="defer"></script>

  <!-- Highlight js -->
  <script src="https://v2.styleguide.helsingborg.se/assets/prism/prism.js" defer="defer"></script>

</html>