
    <!-- Styleguide - js -->
    <script src="https://v2.styleguide.helsingborg.se/assets/dist/js/styleguide-js.min.js"></script>

    <!-- Build - js -->
    <script src="https://v2.styleguide.helsingborg.se/assets/dist/js/buildcss.min.js" defer="defer"></script>

    <!-- Highlight js -->
    <script src="https://v2.styleguide.helsingborg.se/assets/prism/prism.js" defer="defer"></script>

<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"363e987a0a","applicationID":"82442269","transactionName":"ZAdaNRZVWEQDAEFaXl1NbRMNG19ZBgZNHUFbEg==","queueTime":0,"applicationTime":26,"atts":"SEBZQ15PS0o=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>
</html>