
    <!-- navbar.blade.php -->
<nav id="60af83dc1fb3e" class="c-navbar c-navbar--border-top" data-uid="60af83dc1fb37">
    <div class="c-navbar__toggle">
        <!-- icon.blade.php -->
<i id="60af83dc1fc83" class="c-icon c-icon--size-xl material-icons" js-toggle-trigger="js-mobile-sidebar" data-uid="60af83dc1fc7b">
            menu
    </i>    </div>

    
    <div class="c-navbar__logo">
        <a href="/">
            <!-- image.blade.php -->
<figure id="60af83dc1fd8a" class="c-image" data-uid="60af83dc1fd85">
     
        <img src="https://v2.styleguide.helsingborg.se/assets/img/logotype.svg" alt="A logo" class="c-image__image "  />
            </figure>

        </a>
    </div>
    
    <div class="c-navbar__list">
                    
                
                    <a 
                href="//v2.styleguide.helsingborg.se/components" 
                aria-label="Components" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Components</span>
                </div>
            </a>
                    <a 
                href="//v2.styleguide.helsingborg.se/icons" 
                aria-label="Icons" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Icons</span>
                </div>
            </a>
                    <a 
                href="//v2.styleguide.helsingborg.se/mixins" 
                aria-label="Mixins" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Mixins</span>
                </div>
            </a>
                    <a 
                href="//v2.styleguide.helsingborg.se/script" 
                aria-label="Script" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Script</span>
                </div>
            </a>
                    <a 
                href="//v2.styleguide.helsingborg.se/setup" 
                aria-label="Setup" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Setup</span>
                </div>
            </a>
                    <a 
                href="//v2.styleguide.helsingborg.se/utilities" 
                aria-label="Utilities" 
                item-ancestor="" 
                item-active=""
                item-has-children=""
                item-children-async=""
            >
                <div class="c-navbar__item">
                    <span>Utilities</span>
                </div>
            </a>
            </div>

    
    </nav>